* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 12px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    z-index: 99;

    form {
        margin: auto 0;
        input {
            line-height: 100%;
            font-family: inherit;
            font-size: 25px;
            width: 100%;
            border: none;
        }
    }

    img {
        width: 75px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        padding: 10px;
        margin: auto 0;

        .hamburger-line {
            background-color: #000;
            height: 4px;
            width: 30px;
            margin: 3px;
        }
    }

}

.gray-team-color {
    color: rgb(148, 148, 148);
}

.boxscore {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 10vh;
    bottom: 10vh;
    display: none;
    overflow-y: scroll;
    width: 100vw;

    .team-scores {
        margin: 10px 0;

        .team-row {
            font-family: 'Anton', sans-serif;
            display: flex;
            justify-content: space-between;
            padding: 0px 100px;

            .team-row-name, .team-row-score {
                text-transform:  uppercase;
                font-size: 30px;
                font-weight: bold;
            }

        }
    }

    .team-select {
        display: flex;

        .team-select-vis, .team-select-home {
            position: relative;
            text-transform: uppercase;
            flex: 1;
            text-align: center;
            padding: 10px;
            font-weight: bold;
        }

        .team-select-vis::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10%;
            width: 80%;
            height: 2px;
            background: #000;
        }

    }

    ::-webkit-scrollbar {
        display: none;
    }

    .inside-boxscore {
        position: absolute;
        overflow-y: auto;

        .close-button {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #fff;

            p {
                background-color: blue;
                width: 100%;
                padding: 20px;
                text-align: center;
                color: #fff;
                font-size: 24px;
            }
        }
    }

    

    .date-header {
        text-align: center;
        font-size: 14px;
        padding: 5px;
    }

    .boxscore-grid {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 7fr repeat(13, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid rgba(148, 148, 148, .5);

        .grid-item {
            padding: 2px;
        }
    }

}

.grid-of-games {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .game-container {
        width: 90%;
        margin: 0 auto 20px auto;
        border-radius: 10px;
        border: 2px solid #ccc;
        background-color: rgba(0,0,0,.1);
        padding: 20px 0 0 0;

        .game {
            display: grid;
            grid-template-columns: 70% 10% 10% 10%;
            grid-template-rows: auto auto auto;
    
            .cell {
                text-align: center;
            }
    
            .vis-teamname, .home-teamname {
                padding-left: 10px;
            }
    
            .btm-space {
                padding-bottom: 10px;
                padding-top: 5px;
            }

        }

        .separator {
            width: 90%;
            margin: 20px auto 0 auto;
            background-color: #ccc;
            height: 1px;
        }

        .pitchers-of-record {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 10px 20px;
            font-size: 12px;
            margin: 20px 20px 0 20px;

            p.pitcher-right-align {
                text-align: right;
            }
        }

        .button-options {
            display: flex;
            justify-content: space-between;
            // width: 90%;
            // margin: 0 auto;

            .btn-scoresheet {
                border-radius: 0 0 0 10px;
            }

            .btn-box-score {
                border-radius: 0 0 0 0px;

                img {
                    pointer-events: none;
                }
            }

            .btn-recap {
                border-radius: 0 0 10px 0;
            }

            .button-choice {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                border-right: 1px solid #ccc;
                width: 33%;
                cursor: pointer;
                padding: 20px 0;
                
                &:hover {
                    background-color: rgba(206, 134, 1, 0.5);
                }

                img {
                    width: 30%;
                    // border-right: 1px solid #ccc;
                    padding: 2px;
                }

                p {
                    display: flex;
                    align-items: center;
                    padding-left: 3px;
                    pointer-events: none;
                    font-size: 12px;
                }

                input {
                    display: none;
                }

            }
        }
    }

}

@media only screen and (min-width: 768px) {

}