* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 12px;
  border-bottom: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 99;
}

header form {
  margin: auto 0;
}

header form input {
  line-height: 100%;
  font-family: inherit;
  font-size: 25px;
  width: 100%;
  border: none;
}

header img {
  width: 75px;
}

header .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  padding: 10px;
  margin: auto 0;
}

header .hamburger-menu .hamburger-line {
  background-color: #000;
  height: 4px;
  width: 30px;
  margin: 3px;
}

.grid-of-games {
  width: 100vw;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-of-games .boxscore {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  left: 5vw;
  top: 15vh;
  display: none;
  width: 90vw;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 100;
  border: 3px solid #000;
}

.grid-of-games .boxscore .date-header {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.grid-of-games .boxscore .boxscore-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr (1fr)[13];
      grid-template-columns: 7fr repeat(13, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-of-games .boxscore .boxscore-grid .grid-item {
  padding: 2px;
  border: 1px solid #000;
}

.grid-of-games .boxscore .boxscore-stats {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr (1fr)[7];
      grid-template-columns: 4fr repeat(7, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 12px;
}

.grid-of-games .boxscore .boxscore-stats .boxscore-bottom-border {
  border-bottom: 1px solid #000;
}

.grid-of-games .boxscore .boxscore-stats .boxscore-center {
  text-align: center;
}

.grid-of-games .boxscore .boxscore-stats .boxscore-cell {
  border-left: 1px solid #000;
  padding: 2px 0;
}

.grid-of-games .boxscore .boxscore-stats .boxscore-name {
  padding-left: 5px;
}

.grid-of-games .boxscore .boxscore-stats .boxscore-cell-end {
  border-right: 1px solid #000;
}

.grid-of-games .boxscore .boxscore-stats .boxscore-sub {
  padding-left: 15px;
}

.grid-of-games .game-container {
  width: 90%;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 0 0 0;
}

.grid-of-games .game-container .game {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 10% 10% 10%;
      grid-template-columns: 70% 10% 10% 10%;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.grid-of-games .game-container .game .cell {
  text-align: center;
}

.grid-of-games .game-container .game .vis-teamname, .grid-of-games .game-container .game .home-teamname {
  padding-left: 10px;
}

.grid-of-games .game-container .game .btm-space {
  padding-bottom: 10px;
  padding-top: 5px;
}

.grid-of-games .game-container .separator {
  width: 90%;
  margin: 20px auto 0 auto;
  background-color: #ccc;
  height: 1px;
}

.grid-of-games .game-container .pitchers-of-record {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 10px 20px;
  font-size: 12px;
  margin: 20px 20px 0 20px;
}

.grid-of-games .game-container .pitchers-of-record p.pitcher-right-align {
  text-align: right;
}

.grid-of-games .game-container .button-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-of-games .game-container .button-options .btn-scoresheet {
  border-radius: 0 0 0 10px;
}

.grid-of-games .game-container .button-options .btn-box-score {
  border-radius: 0 0 0 0px;
}

.grid-of-games .game-container .button-options .btn-box-score img {
  pointer-events: none;
}

.grid-of-games .game-container .button-options .btn-recap {
  border-radius: 0 0 10px 0;
}

.grid-of-games .game-container .button-options .button-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  border-right: 1px solid #ccc;
  width: 33%;
  cursor: pointer;
  padding: 20px 0;
}

.grid-of-games .game-container .button-options .button-choice:hover {
  background-color: rgba(206, 134, 1, 0.5);
}

.grid-of-games .game-container .button-options .button-choice img {
  width: 30%;
  padding: 2px;
}

.grid-of-games .game-container .button-options .button-choice p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3px;
  pointer-events: none;
  font-size: 12px;
}

.grid-of-games .game-container .button-options .button-choice input {
  display: none;
}
/*# sourceMappingURL=style-test.css.map */